button {
  border: none;
  background: transparent;
  color: white;
  font-size: 50px;
  transition: all ease 0.5s;
}

button:hover {
  color: rgb(25, 214, 57);
  transform: scale(1.2);
}

span {
  transition: 0.5s;
  color: rgb(126, 126, 126);
}

li {
  transition: 0.5s;
  border-radius: 5px;
  border-bottom: solid rgb(141, 141, 141) 2px;
  height: 60px;
}

li:hover span {
  color: rgb(25, 214, 57);
  z-index: 10;
}

li:hover {
  border-bottom: solid rgb(25, 214, 57) 2px;
}
